pandas
numpy
matplotlib
scikit-learn
ipykernel
requests
pydot
plotly
soundfile
librosa
kaleido
ipywidgets
seaborn
tensorflow-cpu # Currently my setup only runs on the cpu as npu/gpu support requires a lot of setup...