setuptools==81.0 # Needs to be installed, because: https://github.com/Nerogar/OneTrainer/issues/1304
pandas
numpy
matplotlib
scikit-learn
ipykernel
requests
pydot
plotly
soundfile
librosa
kaleido
ipywidgets
seaborn
tensorflow-cpu # Currently my setup only runs on the cpu as npu/gpu support requires a lot of setup...
tensorboard